/* Global styles */
body {
background-color: #31343a;
font-family: Calibri;
}

h3 {
color: #5fc4fd;
background-color: #363633;
text-align:center ;
margin-top: 0ch ;
}


p {text-align: left;height: 15px;color: purple;}


a:link {color: #b5ac97;background-color: transparent;text-decoration: none;}
a:visited {color: #bbd853;background-color: transparent;text-decoration: none;}
a:hover {color: red;background-color: transparent;text-decoration: none;}
a:active {color: yellow;background-color: transparent;text-decoration: underline;}


img {
border: 1px solid transparent;
vertical-align: middle;
}

dt{
  padding: 1.5px;
}

/* Box styles */
.box {
width: 100%;
height: 100%;
background-color: #a4bb24;
display: row;
padding: 10px;
border: 0px solid rgb(2, 56, 2);
}

.flex-container {
display: flex;
flex-direction: row;
background-color: #31343a;
gap: 3px;
flex-wrap: wrap;
text-align: left;
line-height: auto;
align-items: flex-start;
font-size: auto;
}

.flex-container > div {
background-image: linear-gradient(10deg, #1d1e22, #1d1e22);
font-weight: bold;
flex-grow: 1;
border-radius: 0px;
width: max-content;
color: rgb(216, 42, 42);
margin: 1px;
text-align: left;
border-bottom-right-radius: 1cm;
}

.break {
flex-basis: 100%;
height: 45px;
display: none;
}

/* Lists */
ul, #myUL {
list-style-type: ""; /* thumbs up sign */
margin: 0;
padding: 0;
}

li {
list-style: circle;
}

/* Interaction */
.box {
cursor: pointer;
-webkit-user-select: none; /* Safari 3.1+ */
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
user-select: none;
}

.nested {
display: none;
}

.active {
display: block;
}





/* For html part 2 ############################################################*/
.flex-container2 {
display: flex;
flex-direction: row;
background-color: #31343a;
gap: 3px;
flex-wrap: wrap;
text-align: left;
line-height: auto;
align-items: flex-start;
font-size: auto;
color: rgb(255, 255, 255);
padding: 1cm;
border-radius: 1cm;
}

.flex-container2 > div {
font-weight: normal;
flex-grow: 1;
border-radius: 0px;
width: max-content;
margin: 1px;
text-align: left;
border-bottom-right-radius: 0cm;
border-radius: 1cqi;
}

.box2 {
font-family: Calibri;
width: 100%;
height: 100%;
background-color: #1d1e22;
display: row;
padding: 10px;
}


summary {
    list-style: none;
    font-size: 25px;
    text-align: center;
    #background-color: #333530;
    padding: 0%;
    border-radius: 1cqb;
    cursor: pointer; /* Set cursor to hand pointer */
  }
  


h25{
    font-size: x-large ;
    color: #2c9c71;
}

table {
border-collapse: collapse;
width: 100%;
border: 2px solid #9dff00; /* Set border color here */
}

th, td {
border: 1px solid #2c9c71; /* Set border color here */
padding: 4px;

}

thead {
text-align: center !important;
}
